* {
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Lato', sans-serif;
}

.nav{
    background: #E34321;
    height: 60px;
    box-shadow: 1px 3px 3px 0px #6E6563;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo{
    padding: 15px;
    margin-right: auto;
}

.nav__list,
.nav__listitemdrop{
    display: flex;
    justify-content: flex-end;
    margin: 0 2rem;
    gap: 2rem;
    align-items: center;
}

.nav__listitem,
.nav__listitemdrop li{
    list-style: none;
    position: relative;
    padding: 1.5rem 1rem;
}

.nav__listitem a,
.nav__listitemdrop a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.5s ease;
}

.nav ul li a:hover{
    padding: 5px 10px;
    background: white;
    color: black;
    border-radius: 15px;
}

.nav__listitem:focus + ul{
    opacity: 1;
    visibility: visible;
}

.nav__listitemdrop{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 4rem; 
    background-color: #E34321;
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s ease;
}